/*.App {
  font-family: sans-serif;
  text-align: center;
}*/

@import url("https://fonts.googleapis.com/css2? family= Lora & family= Montserrat & display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font: 62.5%;
}

body {
  font-family: "Lora", serif;
}

/*.container {
  background-color: rgb(101, 74, 31);
  color: rgb(101, 74, 31);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}*/

/*.wrapper {
  width: 550px;
  min-height: 250px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  overflow-y: hidden;
  font-size: 2rem;
  padding: 3rem;
}*/

/*.text {
  text-align: center;
  font-size: 1.8rem;
}*/

/*.author {
  width: 100%;
  text-align: right;
  font-size: initial;
  margin-top: 1rem;
}*/

a {
  color: white;
  text-decoration: none;
}

/*.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}*/

/*.button {
  margin-top: 2rem;
  background-color: rgb(101, 74, 31);
  color: white;
  border: none;
  height: 2.5rem;
  border-radius: 4px;
  padding: 0 1rem;
}*/

/*.button:nth-of-type(1) {
  margin-right: 1rem;
}

.button:hover {
  background-color: rgba(101, 74, 31, 0.9);
}
*/

.main-author {
  color: white;
  font-size: 0.8rem;
}
