@import url("https://fonts.googleapis.com/css2? family= Lora & family= Montserrat & display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font: 62.5%;
}

body {
  font-family: "Lora", serif;
}

a {
  color: white;
  text-decoration: none;
}

.main-author {
  color: white;
  font-size: 0.8rem;
}
